#swank-search-form .form-item-per-page,
#swank-search-form #edit-submit,
#swank-search-form .reset-link,
#swank-search-form .form-item-table-layout,
#swank-search-form .form-item-term {
  float: left;
  margin: 5px;
}
#swank-search-form .form-item-term {
  width: 40%;
}
#swank-search-form #edit-term {
  width: 100%;
}
.swank-search-term {
  color: red;
  font-weight: bold;
}
#swank-search-form .item-list {
  clear: both;
}
